
{% load static %}



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">The Predictor App<img src="{% static 'data_.png' %}" align="center" style="height: 50px;"></img></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'AboutUs' %}">About </a>
      </li>


      <li class="nav-item ">
        <a class="nav-link" href="/predict">Prediction </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/predict/results">Predicted Results</a>
    </li>


      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->


      <li class="nav-item">
        <a class="nav-link" href="{% url 'new_register' %}">Register with Us</a>
      </li>

      <li class="nav-item navbar-right">
        <a class="nav-link  ml-auto" href="/login/" >
          <i class="fa fa-sign-in" aidria-hden="true"></i>
          Login</a>
      </li>

      

      <li class="nav-item">
        <a class="nav-link navbar-right ml-auto" href="{% url 'register' %}">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Register</a>
      </li>
    {% if user.is_authencticated %}
      <li class="nav-item">
        <a class="nav-link navbar-right ml-auto" href="#" >
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout</a>
      </li>
      {% endif %}
    
    </ul>

  

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>





