{% extends 'base.html' %}
{% load static %}

{% block main %}
<style>
    </style>
<!--<script type="text/javascript"  src="javascript.js"></script> -->


<div style="border: 2px solid black;  text-align: center;" >


<div align="center">
<h1  style="color: red;"><blink>Machine Learning Web Application</h1>

<img src="{% static 'brain.jpg' %}" align="center" style="height:250px;"></img>
</div>

<p align="center">
   
    
    The purpose of this Project is to propose the design and architecture of a testable, scalable, and efficient web-based application that models and implements machine learning algorithm. There are various components that form the architecture of our web-based application including server, database, programming language, web framework, and front-end design. 
    There are also other factors associated with our application such as testability, scalability, performance, and design pattern. Our main focus in this Project is to solve a real world problem using advance technology like data science machine learning which in statistical terms is  defined as an application of artificial intelligence where available information is used through algorithms to process or assist the processing of statistical data. While Machine Learning involves concepts of automation, it requires human guidance. Machine Learning involves a high level of generalisation in order to get a system that performs well on yet unseen data instances. 

    </p>
    <br>
<div style="margin-left: 10px;">
    <b>Created By - </b><br><br>
        <mark>Sagar Gulati  </mark><br><br>
        <mark>Maneesh Kumar </mark> <br><br>
        <p style="margin-bottom: 4px;"><mark>9675914717 , 7417472335</mark> </p><br>    
</div> 
    



</div>


{% endblock %}